.hero-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 70px;
}
.back-color{
  background-color: #FFFFFF;
 border-bottom: 1px solid #d0d5dd;
 padding-bottom: 15px;
  }
  
.hero-text h2 {
  font-size: 56px;
  color: #101828;
  font-weight: 700;
  max-width: 550px;
  line-height: 61.6px;
}
.choice {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 15px;
}
.choice img {
  width: 30px;
}
.choice h4 {
  font-weight: 500;
  color: #101828;
}
.input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 360px;
  align-items: center;
  border: 1px solid #d0d5dd;
  border-radius: 60px;
  padding: 7px 10px;
  margin-top: 20px;
}
.flag {
  display: flex;
  align-items: center;
}
.flag select {
  border: none;
  outline: none;
}
.flag input {
  border: none;
  outline: none;
  padding: 0px 8px;
  width: 90%;
}
.flag input::placeholder{
      color: #101828;
font-weight: 500;
}
.flag img {
  width: 42px;
}
.person {
  display: flex;
  align-items: center;
  gap: 15px;
  background-color: #e9ebff;
  border-radius: 8px;
  padding: 11px 20px;
  width: fit-content;
  margin-top: 20px;
}
.star p {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 20px;
  font-weight: 500;
}
p.typ {
  padding-top: 20px;
  font-size: 18px;
  color: #101828;
  font-weight: 500;
}
.star p span {
  color: #101828;
  font-weight: 700;
  font-size: 16px;
}
p.para {
  font-size: 14px;
  max-width: 570px;
  padding-top: 15px;
}
.inp-button button {
  width: 98px;
  height: 46px;
  border-radius: 100px;
  border: none;
  background-color: #101828;
  color: white;
  font-size: 19px;
  cursor: pointer;
}
.hero-img img{
  width: 100%;
}
@media all and (max-width:768px){
  .hero-img img{
    display: none;
  }
  .hero-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px;
  }
  
}
@media all and (max-width:500px){
  .hero-text h2 {
    font-size: 32px;
    max-width: 315px;
    line-height: 35.2px;
}
}