.icon-text {
  text-align: center;
  margin-top: 60px;
}
.icon-text h1 {
  font-size: 32px;
  color: #101828;
  padding-bottom: 10px;
}
.icon-text p {
  font-size: 20px;
  color: #101828;
}
.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 56px;
  margin-top: 50px;
}
.map-icon img {
  width: 64px;
}
@media all and (max-width:540px){
.icons{
    gap: 25px;
}
.map-icon img{
    width: 35px;
}
.icon-text h1 {
    font-size: 26px;
}
.icon-text p {
    font-size: 18px;
}
}